.main_nav {
    border-bottom: 1px solid #a0a0a0;
}

.main_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* margin-top: 1rem; */
}

.main_nav ul li {
    /* margin: 0 24px; */
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
